:root {
  --gray: #8E8E8E;
  --black: #000000;
  --border-green: #61C299;
  --block-red: #C64947;
}

body {
  height: 100%;
  margin: 0;
  color: var(--gray);
  background-color: var(--black);
}

.container {
  width: 100%;
  background: pink;
}

.game-header {
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--black);
}

.score {
  width: 50%;
  font-family: "Press Start 2P", arial;
  font-size: 3em;
  text-align: right;
}

.lives {
  width: 25%;
  font-family: "Press Start 2P", arial;
  font-size: 3em;
  text-align: center;
}

.player-number {
  width: 25%;
  font-family: "Press Start 2P", arial;
  font-size: 3em;
  text-align: center;
}

.game-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-top: 35px solid var(--gray);
  border-right: 50px solid var(--gray);
  border-left: 50px solid var(--gray);
  background-color: var(--black);
}

.game-content {
  position: absolute;
  top: 50%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Press Start 2P", arial;
  font-size: 1em;
  text-align: center;
}

.game-footer {
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  border-right: 50px solid var(--block-red);
  border-left: 50px solid var(--border-green);
  background-color: var(--black);
}

@media (min-width: 1000px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}
